// <button type="submit" class="firebaseui-id-submit firebaseui-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-upgraded=",MaterialButton">Next</button>

.firebaseui_container {
  font-family: "Apercu" !important;
}

.mdl-button--raised.mdl-button--colored {
  background: $purple !important;
  color: #fff;
}
